@charset "utf-8";

/* base style */
body{
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	font-size: 15px;
	line-height: 1.5;
	color: #333;
}

td:hover{
	background-color: #c0c0c0;
}

a:hover{
	color: #ff6347;
}

/* container */
.container{
	display: flex;
	width: 100%;
	height: 100%;
}

.calendar-area{
	text-align: center;
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
	flex-shrink: 0;
}

.schedule{
	width: 50%;
	height: 500px;
	padding: 20px;
	margin: 10px;
	box-sizing: border-box;
	flex: 1;
	border: 1px solid #ccc;
	overflow-y: auto;
}

/* calendar-area */

.add-schedule{
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
}

.switch-month{
	display: flex;
	justify-content: center;
	width: 100%;
}

.calendar-table{
	display: box;
	width: 300px;
	height: 300px;
	font-size: 20px;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	order: 2;
}

.has-event{
	background-color: #ff6347;
}

#previous-month,
#next-month{
	width: 50px;
	height: 50px;
	margin-top: 125px;
	box-sizing: border-box;
}

#previous-month{
	margin-right: 20px;
	order: 1;
}

#next-month{
	margin-left: 20px;
	order: 3;
}

/* schedule */
.button-line{
	display: flex;
	margin: 5px;
}
