<!DOCTYPE html>

<html lang="ja">

<head>
    <meta charset="UTF-8"/>
    <title>カレンダー</title>
</head>

<body>
    <form method="post" action="{{url_for('add')}}">
        <table border="1">
            <tr>
                <th>タイトル</th>
                <th>日付(例：2026/01/01)</th>
                <th>開始時刻(例：12:00)</th>
                <th>終了時刻(例：12:00)</th>
                <th>コメント</th>
            </tr>
            <tr>
                <td><input type="text" name="title" value="{{ title }}" required="required"/></td>
                <td><input type="date" name="date" value="{{ date }}" required="required"/></td>
                <td><input type="time" name="start_time" value="{{ start_time }}" required="required"/></td>
                <td><input type="time" name="end_time" value="{{ end_time }}" required="required"/></td>
                <td><textarea name="description">{{ description }}</textarea></td>
            </tr>
        </table>

        <input type="submit" value="予定を追加"/>
    </form>

    {% if warning %}
    <script>
        if (confirm("この時間帯には既に予定が入っています。予定を追加しますか？")) {
            // OKの場合
            const forceAdd = document.createElement("input");
            forceAdd.type = "hidden";
            forceAdd.name = "force_add";
            forceAdd.value = "1";
            document.querySelector("form").appendChild(forceAdd);
            document.querySelector("form").submit();
        } else {
            // キャンセルの場合
            // date情報付きのindexページにリダイレクト
            window.location.href = "/?date={{date}}"
        }
    </script>
    {% endif %}

</body>

</html>